body,
html {
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    height: 100%;
    /* Ensure the body takes full height */
    overflow: hidden;
    /* Prevent scrollbars */
}

#display_image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}